/*   Globales   */

* {
    margin : 0;
    padding : 0;
    border : 0;
    text-decoration : none;
}

root{
    display : block;
}

html {
    background-color : #000000;
    background-image : url('img/fondo.jpg');
    background-repeat : repeat;
    background-position : top center;
    width : 100%;
}

body {
    margin : auto;
    padding: 1%;
}


.center {
    text-align : center;
}

#linkscontainer {
}

a.link {
    display : inline-block;
    background-color: #ffffff;
    padding : 10px 20px;
    
    border-left : solid 5px #999999;
    border-right : solid 5px #999999;
    border-top : solid 3px #999999;
    
    color : #666666;
    font-family: "arial",sans-serif; 
    font-weight: bold;
}

a.link:hover {
    background-color: #aaaaaa;
    color : #333333;
}

h1{
    
    color : #666666;
    font-family: "arial",sans-serif; 
    font-weight: bold;
    margin-bottom: 15px;
}

#formcontainer{
    width : 100%;
     vertical-align: middle;
     position: relative;
}

.allform{
    background-color: #ffffff;
    border-left : solid 5px #999999;
    border-right : solid 5px #999999;
    border-top : solid 3px #999999;
    border-bottom : solid 3px #999999;
    padding : 25px;
}

.input_text {
    color : #707070;
    font-family: "arial",sans-serif; 
    font-weight: bold;
}
input[type=text],input[type=password] {
    border : solid 1px #707070;
    width: 100%;
}

input[type=submit] {
    cursor: pointer;
    border : solid 1px #707070;
    background: #dddddd;
    width: 100%;
    color : #707070;
    font-family: "arial",sans-serif; 
    font-weight: bold;
}
input[type=submit]:hover {
    border : solid 1px #333333;
    background: #777777;
    color : #bbbbbb;
}

input[type=checkbox] {
    border : solid 1px #707070;
    margin-left: 20px;
}

.table {
    display: table;
    width: 100%;
}

.tablerow {
    display: table-row;
    width: 100%;
}

.tablecell {
    display: table-cell;
    margin : auto;
}

.error {
    margin : 10px 20px;
    padding: 5px;
    text-align: center;
    border: dotted #d25950 2px;
    color : #aa3333;
    font-weight: bold;
}

.ok {
    margin : 10px 20px;
    padding: 5px;
    text-align: center;
    border: dotted #59d250 2px;
    color : #33aa33;
    font-weight: bold;
}

.extra{
    margin-top:15px;
    font-size: 1em;
}
.extra a{
    color : #999999;
}
.extra a:hover{
    color : #444444;
    text-decoration: underline;
}



/*   Menu de usuario   */

#user {
    display : block;
    height : 90px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    border-bottom-right-radius: 10px;
    background-color : #2a2a2a;
    margin-bottom: 20px;
    
}
#user h3 {
    color : #d0d0d0;
    font-family: "arial",sans-serif; 
    padding : 10px 25px;
    margin-left: 90px;
}
#user h4 {
    color : #d0d0d0;
    font-family: "arial",sans-serif; 
    padding : 10px 25px;
    margin-left: 120px;
}
#user .user_avatar {
    width: 70px;
    height: 70px;
    float:left;
    margin : 10px;
}