
#navproyectos {
    padding: 5px;
}
#navproyectos .nav_container{
    display: block;
    background-color: #555555;
    margin : 5px  5px 0 0;
    padding: 5px;
}
#navproyectos .nav_container h1{
    font-size: 1.1em;
}
#navproyectos .nav_container h2{
    display: inline-block;
    margin : 3px;
    font-size: 1em;
}
#navproyectos .nav_container h2 a{
    display: inline-block;
    color: #dddddd;
    padding: 3px;
}
#navproyectos .nav_container h2 a:hover{
    color: #333333;
    background-color: #dddddd;
}


#proyectos {
    display : block;
    padding: 5px;
    padding-bottom: 25px;
}

/*** Proyecto ***/
.proyecto {
    margin-top : 25px;
    display : block;
    position : relative;
    clear : right;
}

/****Proyecto Header>>>>>>>****/
.proyecto header.titulo{
    display : block;
    position : relative;
    margin-left : 15px;
    
    background-color : #d6d6d6;
    color : #666666;
    

    -webkit-border-top-left-radius: 25px;
    -moz-border-radius-topleft: 25px;
    border-top-left-radius: 25px;
}

.proyecto header.titulo h1{
    padding : 3px;
    padding-left : 30px;
}

.proyecto header.titulo h1 a{
    color : #333333;
}

.proyecto header.titulo h1 a:hover{
    color : #555555;
    text-decoration : underline;
}

/****<<<<<<<Proyecto Header****/

/****Proyecto Texto>>>>>>>****/
.proyecto div.texto_container {
    display : block;
    position : relative;
    background-color : #dadada;
    margin-top : 15px;
    margin-right : 10px;
    margin-left : 10px;
}

.proyecto div.texto_container img.imgProy {
    float : right;
    width: 200px;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 5px;
    background-color : #dadada;
    border: solid 2px #999999;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.proyecto div.texto_container div.texto {
    display : block;
    
    background-color : #ffffff;
    padding : 10px;
    
    color : #222222;
}
/****<<<<<<<Proyecto Texto****/


/****Proyecto Pie>>>>>>>****/
.proyecto footer.pie {
    display : block;
    
    margin-top :  10px;
    
    background-color : #333333;
    color : #999;
    text-align: center;
    padding: 5px;

    -webkit-border-bottom-left-radius: 25px;
    -moz-border-radius-bottomleft: 25px;
    border-bottom-left-radius: 25px;
}
/****<<<<<<<Proyecto Pie****/
