
#proyectos {
    display : block;
    margin-left : 250px;
    padding-bottom: 25px;
}

/*** Proyecto ***/
.proyecto {
    margin-top : 25px;
    display : block;
    position : relative;
    clear : right;
}

/****Proyecto Header>>>>>>>****/
.proyecto header.titulo{
    display : block;
    position : relative;
    margin-left : 15px;
    
    background-color : #d6d6d6;
    color : #666666;
    
    border-top : solid 2px #333333;
    border-left : solid 1px #333333;

    -webkit-border-top-left-radius: 25px;
    -moz-border-radius-topleft: 25px;
    border-top-left-radius: 25px;
}

.proyecto header.titulo h1{
    padding : 3px;
    padding-left : 30px;
    font-size: 1.1em;
}

.proyecto header.titulo h1 a{
    color : #333333;
}

.proyecto header.titulo h1 a:hover{
    color : #555555;
    text-decoration : underline;
}

/****<<<<<<<Proyecto Header****/

/****Proyecto Texto>>>>>>>****/
.proyecto div.texto_container {
    display : block;
    position : relative;
    background-color : #dadada;
    margin-top : 15px;
    margin-right : 10px;
}

.proyecto div.texto_container img.imgProy {
    float : right;
    width: 200px;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 5px;
    background-color : #dadada;
    border: solid 2px #999999;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.proyecto div.texto_container div.texto {
    display : block;
    position : relative;
    
    background-color : #ffffff;
    padding : 10px;
    
    position : relative;
    top : -8px;
    left : -10px;
    
    color : #222222;
}
/****<<<<<<<Proyecto Texto****/


/****Proyecto Pie>>>>>>>****/
.proyecto footer.pie {
    display : block;
    position : relative;
    
    margin-top :  10px;
    
    background-color : #333333;
    color : #999;
    text-align: center;
    padding: 5px;
    
    border-bottom : solid 3px #d6d6d6;
    border-left : solid 2px #d6d6d6;

    -webkit-border-bottom-left-radius: 25px;
    -moz-border-radius-bottomleft: 25px;
    border-bottom-left-radius: 25px;
}
/****<<<<<<<Proyecto Pie****/
