AddDefaultCharset UTF-8

RewriteBase /
RewriteEngine on
Options +FollowSymLinks

RewriteCond %{HTTP_HOST} ^www\.localhost/$ [NC]
RewriteRule ^(.*)$ http://localhost/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]